.new-post-button {
	border: 2px solid var(--dark-fg);
	background-color: var(--dark-bg2);
	font-size: 20px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;

	position: fixed;
	bottom: 3.5rem;
	right: .5rem;

	transition: all 200ms ease;
}

.new-post-button:hover {
	cursor: pointer;
	transform: rotate(-90deg) scale(1.4);
}

.new-post-button:after,
.new-post-button:before {
	content: "";
	display: block;

	background-color: var(--dark-fg);
	border-radius: 1em;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.new-post-button:before {
	height: 1em;
	width: 0.2em;
}
.new-post-button:after {
	height: 0.2em;
	width: 1em;
}

/* FORM */
.new-post-form {
	height: max-content;

	color: var(--dark-fg) !important;
	background-color: var(--dark-post-bg) !important;

	z-index: 2;
}
.new-post-form:not(.pc) {
	display: flex;

	position: fixed;
	left: 50%;
	top: 50%;

	width: 90%;

	transform: translate(-50%, -50%);
}
.new-post-form:not(.pc):not(.active) {
	display: none !important;
}

.new-post-form .username {
	color: var(--dark-username) !important;
}

.dark .new-post-form {
	color: var(--light-fg) !important;
	background-color: var(--light-post-bg) !important;
}
.dark .new-post-form .username {
	color: var(--light-username) !important;
}

.new-post-form textarea {
	margin-top: 1em;
	padding: 1em;

	width: 90%;
	min-height: 2em;
	height: max-content;
	resize: none;

	word-wrap: break-word;
	overflow-y: hidden;

	color: var(--dark-fg);
	background-color: var(--dark-bg);
	border-radius: 0.5em;
}

.dark .new-post-form textarea {
	color: var(--ligh-fg);
	background-color: var(--light-bg2);
}


/* MEDIA QUERIES (Phone/PC) */
@media only screen and (max-width: 600px) {  /* Phone */
	.new-post-form.pc {
		display: none !important;
	}
}

@media only screen and (min-width: 600px) { /* Computers or tablets */
}
