div.post {
	box-sizing: border-box;

	border-radius: 15px;

	background-color: var(--light-post-bg);

	margin-bottom: 2em;

	width: 100%;
	max-width: 60ch;
	padding: 1em;

	display: flex;
	align-items: flex-start;
	flex-direction: row;

	transition: background-color 0.2s;
}

div.post:not(.reply) {
	margin-bottom: 2em;
}

body.dark div.post{
	background-color: var(--dark-post-bg);
}

div.post > .profile-container {
	width: 2.5em;
	height: 2.5em;

	flex-shrink: 0;

	position: relative;
	overflow: hidden;

	border-radius: 50%;
}

div.post > .profile-container > img.profile {
	margin: auto;

	display: inline;
	height: 100%;
	width: 100%;

	object-fit: cover;
}

div.post > .post-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	margin-left: 1em;

	width: fit-content;
	max-width: calc(100% - 4em);
}

.post-content > .post-info {
	display: flex;
	flex-direction: column;
}

.post-content .post-info1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-content .post-info1 > * {
	margin: 0;
}

.post-content .post-info1 > *:first-child {
	margin-right: 1em;
}

div.post > .post-content > .post-text {
	width: 95%;
}

.post-content a.username {
	text-decoration: none;
	color: var(--light-username);
}

.post-content a.username:visited {
	color: inherit;
}

body.dark .post-content a.username {
	color: var(--dark-username);
}

.post-content .info {
	color: var(--light-fg2);
}

body.dark .post-content .info{
	color: var(--dark-fg2);
}

.post.reply {
	width: 100%;

	border-radius: 0;

	margin-bottom: 0;
	margin-top: 1em;

	border-bottom: solid var(--light-post-separator) 1px;
}

.dark .post.reply {
	border-bottom: solid var(--dark-post-separator) 1px;
}

.post.reply:last-child {
	border-bottom: none;
}


/* ACCORDION FOR COLLAPSING REPLIES */
.reply_accordion {
	width: 100%;

	margin-top: 2em;
}

.accordion_button {
	display: block;
	background-color: transparent;
	border: none;
	
	margin: 0;
	padding: 0;

	color: var(--light-fg);
}

.accordion_button::before {
	content: '\25be'; /* Unicode down triangle*/
	float: left;
	transform: scale(1.5);

	margin-right: 1.2em;

	transition: transform 200ms ease-out;
}

.dark .accordion_button {	
	color: var(--dark-fg);
}

.accordion_button.active::before {
	transform: rotate(180deg) scale(1.5);
}

.reply_accordion .replies {
	overflow: hidden;
	max-height: 0;

	transition: max-height 200ms ease;
}

/* SOCIAL BUTTONS (Like, dislike, share, etc) */

.social_buttons {
	width: 100%;
	height: 1.5em;

	padding: 0.5em;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	border-top: solid var(--light-post-separator) 1px;
	border-bottom: solid var(--light-post-separator) 1px;

	transform: translateX(-11%);
}

.dark .social_buttons {
	border-top: solid var(--dark-post-separator) 1px;
	border-bottom: solid var(--dark-post-separator) 1px;
}

.social_buttons button {
	background: none;
	border: none;
	padding: 0;
	margin: 5px 0;

	color: inherit;
}

.social_buttons > .like-dislike > button {
	transition: all 200ms ease;
}

.social_buttons > .like-dislike { /* The container of the svg and the text*/
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social_buttons > .like-dislike > p {
	margin: 0 0.5em;
}

.social_buttons svg {
	max-width: 1.5em;
	max-height: 1.5em;
}

.social_buttons svg path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 10px;
	stroke: var(--light-fg2);

	transition: all 200ms ease;
}

.dark .social_buttons svg path {
	stroke: var(--dark-fg2);
}

.social_buttons .active svg path{
	stroke: none;
}

.social_buttons .like.active svg path{
	fill: red;
}

.social_buttons .dislike.active svg path{
	fill: black;
}

/* MEDIA QUERIES (Phone/PC) */
@media only screen and (max-width: 600px) {  /* Phone */
	.social_buttons .like-dislike button:active {
		transform: scale(1.3);
	}

	div.post > .profile-container > img.profile {
		/*width*/
	}
}

@media only screen and (min-width: 600px) { /* Computers or tablets */
	.accordion_button:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.accordion_button:hover::before {
		transform: scale(2);
	}

	.accordion_button.active:hover::before {
		transform: rotate(180deg) scale(2);
	}

	.social_buttons {
		width: 100%;
	}
	.social_buttons > .like-dislike > button {
		width: 35px;
		height: 35px;
	
		border-radius: 50%;
	}
	
	.social_buttons > .like-dislike > button > svg {
		margin: 50%;
		transform: translate(-50%, -50%);
	}

	.social_buttons button:hover {
		cursor: pointer;
	}

	.social_buttons .like:hover{
		background-color: rgba(255, 0, 0, 0.2);
	}
	.social_buttons .like:hover svg path {
		stroke: rgb(206, 48, 48);
	}

	.social_buttons .dislike:hover{
		background-color: rgb(168, 168, 168);
	}
	.social_buttons .dislike:hover svg path {
		stroke: rgb(29, 29, 29);
	}
}
