:root {
	--dark-bg: #020111;
	--dark-bg2: #11111b;
	--dark-fg: #ccc;

	--light-bg: white;
	--light-bg2: #ddd;
	--light-fg: black;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu';
	font-size: 1em;

	background-color: var(--light-bg);
	color: var(--light-fg);

	display: flex;
	flex-direction: row;

	overflow: hidden;

	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body.dark{
	background-color: var(--dark-bg);
	color: var(--dark-fg);
}
